RewriteEngine On

RewriteBase /SortingAPI/

Options -Indexes

RewriteCond %{REQUEST_URI} !^/SortingAPI/public/

RewriteRule ^public/(.*)$ /SortingAPI/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /SortingAPI/public/$1 [L]